@media only screen and (min-width: 1901px) and (max-width: 1919px) {}

@media only screen and (max-width: 1900px) {}

@media only screen and (max-width: 1800px) {}

@media only screen and (max-width: 1700px) {}

@media only screen and (max-width: 1600px) {
    #header-page .banner-slide .sologan img {
        position: relative;
        left: 63px;
        top: -68px;
        width: 27%;
    }
    #page-home .slide_phoreal {
        margin-left: 184px;
    }
    #page-home .slide_phoreal:before {
        background-size: contain;
        left: -217px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--right {
        padding-left: 80px;
    }
    #page-home .slide_phoreal .wrap__menu .btn_slick {
        right: 300px;
    }
    /*============= HEADER PAGE ======================*/
    #header-page .banner-page .sologan img {
        left: 54px;
        width: 45%;
    }
    /*============ PAGE MENU ================*/
}

@media only screen and (max-width: 1500px) {
    #page-home .slide_phoreal {
        margin-left: 157px;
    }
    #page-home .slide_phoreal:before {
        background-size: contain;
        left: -200px;
    }
    #page-home .slide_phoreal .wrap__menu .btn_slick {
        right: 250px;
    }
    /*================ HEADER PAGE ================*/
    #header-page .banner-page .banner__page--image .wrap_text p {
        font-size: 60px;
    }
    /*============ PAGE MENU ===============*/
    #page-menu .list__tab--content .tab-pane .tab__cate .tab__cate--title h4 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1400px) {
    #page-home .slide_phoreal {
        margin-left: 150px;
    }
    #page-home .slide_phoreal:before {
        background-size: contain;
        left: -195px;
    }
    /*========= PAGE MENU ==========*/
    #page-menu .list__tab--content .tab-pane .tab__cate .tab__cate--image img.img-1,
    #page-menu .list__tab--content .tab-pane .tab__cate .tab__cate--image img.img-2 {
        width: 49.5%;
    }
    /*======= PAGE GALLERY =========*/
    #page-gallery .gallery__image .wrap__item {
        flex-direction: column;
        align-items: center;
    }
    #page-gallery .gallery__image .wrap__item .item__image {
        width: 50%;
    }
    #page-gallery .gallery__image .wrap__item .item__image img {
        width: 100%;
    }
}

@media only screen and (max-width: 1368px) {}

@media only screen and (max-width: 1300px) {
    #header-page .banner-slide .flexslider .text-slide .wrap_text p {
        font-size: 60px;
    }
    #header-page .banner-slide .sologan {
        display: none;
    }
    #header-page .banner-slide .flexslider {
        width: 100%;
    }
    #header-page .banner-slide .flexslider .text-slide {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #header-page .banner-slide .flexslider .text-slide .wrap_text::before {
        display: none;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--right {
        padding-left: 60px;
    }
    #page-home .slide_phoreal {
        margin-left: 15px;
    }
    #page-home .slide_phoreal .wrap__slide .wrap__slide--left {
        width: 42%;
    }
    #page-home .slide_phoreal .wrap__slide .wrap__slide--right {
        width: 58%;
        height: 855px;
    }
    #page-home .contact_phoreal .wrap__contact .contact__left {
        width: 40%;
        padding-right: 15px;
    }
    /*============ PAGE MENU ==================*/
    #page-menu .list__tab--menu ul li a {
        font-size: 18px;
    }
    #page-menu .list__tab--menu ul li a.active p {
        font-size: 18px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a {
        font-size: 18px;
        max-height: 48px;
    }
    /*=========== PAGE MENU ==============*/
    #header-page .banner-page .sologan {
        display: none;
    }
    #header-page .banner-page .banner__page--image {
        width: 100%;
    }
}

@media only screen and (max-width: 1199px) {
    /*============ PAGE ABOUT ============*/
    #page-about .content__about .main__about .main__about--title {
        width: 100%;
    }
    #page-about .content__about .main__about .main__about--image {
        width: 100%;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1100px) {
    #header-page .sticky .header__page .header__page--main .navbar-sticky ul li {
        margin-right: 70px;
    }
    #header-page .banner-slide .flexslider .text-slide .wrap_text {
        padding: 25px 25px 46px 25px;
    }
    #header-page .banner-slide .flexslider .text-slide .wrap_text p {
        font-size: 50px;
    }
    #header-page .banner-slide .flexslider .text-slide .wrap_text p {
        font-size: 50px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--left {
        top: 0;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--left .about__left--item h4 {
        font-size: 20px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--left .about__left--item p {
        font-size: 18px;
    }
    #page-home .slide_phoreal {
        margin-top: 0;
        margin-left: 40px;
    }
    #page-home .slide_phoreal .wrap__slide .wrap__slide--left {
        margin-top: 0;
    }
    #page-home .slide_phoreal .wrap__slide .wrap__slide--right {
        height: 755px;
    }
    #page-home .slide_phoreal .wrap__menu .btn_slick {
        right: 150px;
    }
    #page-home .contact_phoreal .wrap__contact .contact__left {
        width: 33%;
        padding-right: 0;
    }
    #page-home .contact_phoreal .wrap__contact .contact__mid {
        width: 28%;
        padding: 0;
    }
    #page-home .contact_phoreal .wrap__contact .contact__right {
        width: 38%;
    }
    #page-home .call_phoreal .call__title h2 {
        letter-spacing: 10px;
    }
    #page-home .contact_phoreal .wrap__contact .contact__left .contact__left--title p {
        letter-spacing: 4px;
    }
    /*========= Page Menu ================*/
    #header-page .banner-page .banner__page--image .wrap_text p {
        font-size: 40px;
    }
    #header-page .banner-page .banner__page--image .wrap_text .btn_order a {
        font-size: 17px;
        padding: 5px 12px 5px 60px;
    }
    #header-page .banner-page .banner__page--image .wrap_text .btn_order a:before {
        background-size: 100% 100%;
        width: 46px;
        height: 46px;
    }
    #page-menu .list__tab--menu ul li {
        width: 32%;
        margin-bottom: 15px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item {
        width: 100%;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--title {
        width: 67%;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price {
        width: 27%;
    }
    #page-menu .note__menu .note__menu--2 {
        width: 50%;
        margin: 0 auto;
    }
    /*============= PAGE CONTACT ==================*/
    #page-contact .main_contact .wrap__contact .contact__left {
        width: 40%;
    }
    #page-contact .main_contact .wrap__contact .contact__right {
        width: 55%;
        margin-top: 20px;
    }
    #page-contact .main_contact .wrap__contact .contact__left .contact__left--title h3 {
        font-size: 50px;
    }
    #page-contact .main_contact .wrap__contact .contact__left .contact__left--title p {
        letter-spacing: 4px;
    }
}

@media only screen and (max-width: 991px) {
    #header-page {
        overflow: unset;
    }
    #header-page .banner-page img {
        width: 100%;
    }
    /* -----------css button menu-------- */
    #header-page .sticky .header__page .header__page--button {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 999999;
    }
    #header-page .sticky .header__page .header__page--button .button-sticky {
        padding: 7px 10px;
        border: 0;
        position: relative;
        background-color: transparent;
        outline: none;
    }
    #header-page .sticky .header__page .header__page--button .button-sticky .icon-bar {
        height: 6px;
        background-color: #ca1f27;
        margin: 10px 0;
        position: relative;
        display: block;
        transition: all 0.3s;
    }
    #header-page .sticky .header__page .header__page--button .button-sticky .icon-bar.top-bar {
        width: 90px;
    }
    #header-page .sticky .header__page .header__page--button .button-sticky .icon-bar.middle-bar {
        width: 50px;
    }
    #header-page .sticky .header__page .header__page--button .button-sticky .icon-bar.bottom-bar {
        width: 70px;
    }
    /* -------------css menu------------ */
    #header-page .banner-slide {
        margin-top: 95px;
    }
    #header-page .sticky .header__page {
        margin-top: 90px;
    }
    #header-page .sticky .header__page .header__page--main {
        transform: unset;
    }
    #header-page .sticky .header__page .header__page--main .navbar-mobile {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        background: rgba(205, 32, 40, 0.5);
        z-index: 9999;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    #header-page .sticky .header__page .header__page--main .navbar-mobile .navbar-sticky {
        background-color: #fef1ee;
        width: 320px;
        position: fixed;
        top: 0;
        left: -320px;
        z-index: 99999;
        height: 100%;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        display: inline-block;
    }
    #header-page .sticky .header__page .header__page--main .navbar-collapse ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin-top: 120px;
        height: 0;
        text-align: right;
    }
    #header-page .sticky .header__page .header__page--main .navbar-collapse ul li {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    #header-page .sticky .header__page .header__page--main .navbar-sticky ul li:nth-child(2) {
        margin-right: 0;
    }
    #header-page .sticky .header__page .header__page--main .navbar-sticky ul li:nth-child(3) {
        margin-left: 0;
    }
    #header-page .sticky .header__page .header__page--main .navbar-collapse ul li a {
        font-size: 23px;
        padding: 20px;
        text-transform: uppercase;
    }
    /* ---when click button----- */
    #header-page .sticky .header__page .header__page--main .navbar-mobile.active {
        opacity: 1;
        visibility: visible;
    }
    #header-page .sticky .header__page .header__page--main .navbar-mobile .navbar-sticky.active {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    body.show-scroll {
        overflow: hidden;
    }
    /* ----------css logo---------- */
    #header-page .sticky .logo {
        padding-left: 0;
        display: inline-block;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    // =========================================================================
    #page-home .about_phoreal {
        margin-top: -100px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--left {
        top: 0;
        width: 100%;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--right {
        padding-left: 0px;
        width: 100%;
        margin-top: 40px;
    }
    #page-home .slide_phoreal {
        margin-top: 65px;
    }
    #page-home .call_phoreal .call__title h2 {
        letter-spacing: 6px;
        font-size: 45px;
    }
    #page-home .contact_phoreal .wrap__contact .contact__left {
        width: 100%;
        padding-right: 0;
    }
    #page-home .contact_phoreal .wrap__contact .contact__mid {
        width: 50%;
        padding: 0;
    }
    #page-home .contact_phoreal .wrap__contact .contact__right {
        width: 50%;
    }
    /*========== PAGE MENU ===============*/
    #header-page .banner-page {
        margin-top: 100px;
    }
    #page-menu .list__tab--content .tab-pane .tab__cate .tab__cate--title h4 {
        font-size: 45px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--title {
        width: 55%;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price {
        width: 35%;
    }
    #page-menu .note__menu .note__menu--2 {
        width: 65%;
    }
    /*============== PAGE CONTACT ====================*/
    #page-contact {
        margin: 84px 0 60px;
    }
    #page-contact .main_contact .wrap__contact .contact__left {
        width: 100%;
    }
    #page-contact .main_contact .wrap__contact .contact__right {
        width: 100%;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 768px) {
    #header-page .banner-slide .flexslider .text-slide .wrap_text p {
        font-size: 40px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--left .about__left--item h4 {
        font-size: 25px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--left .about__left--item p {
        font-size: 23px;
    }
    #page-home .slide_phoreal::before {
        display: none;
    }
    #page-home .slide_phoreal .wrap__slide .wrap__slide--left {
        width: 100%;
    }
    #page-home .slide_phoreal .wrap__slide .wrap__slide--left .about__left--content p {
        margin-bottom: 33px;
    }
    #page-home .slide_phoreal .wrap__slide .wrap__slide--right {
        display: none;
    }
    #page-home .slide_phoreal .wrap__menu {
        position: relative;
        width: 100%;
        bottom: 0;
        margin-top: 60px;
    }
    #page-home .slide_phoreal .wrap__menu .wrap__menu--slide {
        user-select: all;
        max-width: 100%;
    }
    /*=================== PAGE MENU ===============*/
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--title {
        width: 60%;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price {
        width: 23%;
    }
    /*=========== PAGE GALLERY ==================*/
    #page-gallery .gallery__image .wrap__item .item__image {
        width: 100%;
    }
    #footer .footer__pralax .call__title h2 {
        font-size: 40px;
        letter-spacing: 10px;
    }
}

@media only screen and (max-width: 767px) {
    #page-menu .list__tab--menu ul li a.active p {
        font-size: 15px;
    }
    #page-menu .list__tab--menu ul li a {
        font-size: 15px;
    }
    #page-menu .list__tab--content .tab-pane .tab__cate .tab__cate--image img.img-1 {
        width: 100%;
    }
    #page-menu .list__tab--content .tab-pane .tab__cate .tab__cate--image img.img-2 {
        display: none;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price {
        width: 30%;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--title p {
        font-size: 17px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a {
        font-size: 17px;
        max-height: 45px;
    }
    #page-menu .note__menu .note__menu--2 {
        width: 90%;
    }
    #footer .footer__pralax {
        background-attachment: unset;
    }
    #footer .footer__pralax .call__title h2 {
        font-size: 30px;
        letter-spacing: 7px;
    }
}

@media only screen and (max-width: 576px) {
    #header-page .banner-slide .flexslider .text-slide .wrap_text {
        text-align: center;
    }
    #header-page .banner-slide .flexslider .text-slide .wrap_text p {
        font-size: 27px;
    }
    #header-page .banner-slide .flexslider .text-slide .wrap_text .btn_order a {
        line-height: 1.9;
        padding: 5px 14px 5px 64px;
        font-size: 20px;
    }
    #header-page .banner-slide .flexslider .text-slide .wrap_text .btn_order a::before {
        width: 42px;
        height: 42px;
        background-size: 100% 100%;
    }
    #header-page .sticky .header__page .header__page--button .button-sticky .icon-bar.top-bar {
        width: 60px;
    }
    #header-page .sticky .header__page .header__page--button .button-sticky .icon-bar.bottom-bar {
        width: 60px;
    }
    #header-page .sticky .header__page .header__page--button .button-sticky .icon-bar {
        height: 4px;
        margin: 10px;
    }
    #header-page .sticky .header__page .header__page--logo {
        text-align: center;
    }
    #header-page .sticky .header__page .header__page--logo img {
        width: 80%;
    }
    #header-page .sticky .header__page .header__page--main .navbar-collapse ul li {
        text-align: left;
        margin-left: 32px;
    }
    #header-page .sticky .header__page .header__page--main .navbar-sticky ul li:nth-child(3) {
        margin-left: 32px;
    }
    #header-page .sticky .header__page .header__page--main .navbar-mobile .navbar-sticky {
        width: 280px;
    }
    #header-page .sticky .header__page {
        margin-top: 70px;
    }
    #header-page .banner-page {
        margin-top: 73px;
    }
    /*===================== PAGE HOME ==============*/
    #page-home .about_phoreal {
        margin-top: -70px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--left .about__left--item {
        padding: 15px 40px 10px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--left .about__left--item img {
        max-width: 100%;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--left .about__left--item h4 {
        font-size: 20px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--left .about__left--item p {
        font-size: 18px;
    }
    #page-home .slide_phoreal {
        margin-top: 55px;
    }
    #page-home .slide_phoreal .wrap__menu .btn_slick {
        display: none;
    }
    #page-home .slide_phoreal .wrap__slide .wrap__slide--left .about__left--content h2 {
        font-size: 50px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--right h2 {
        font-size: 50px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--right .homemade {
        padding-left: 16px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--right .homemade::before {
        width: 77%;
        height: 73%;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--right .homemade h4,
    #page-home .about_phoreal .wrap__about .wrap_about--right .homemade p {
        line-height: 1.4;
    }
    #page-home .call_phoreal {
        background-attachment: unset;
    }
    #page-home .call_phoreal .call__title {
        padding: 70px 0;
    }
    #page-home .call_phoreal .call__title h2 {
        letter-spacing: 2px;
        font-size: 35px;
    }
    #page-home .contact_phoreal .wrap__contact .contact__left .contact__left--info {
        align-items: flex-start;
        flex-direction: column;
    }
    #page-home .contact_phoreal .wrap__contact .contact__mid {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        margin-top: 30px;
    }
    #page-home .contact_phoreal .wrap__contact .contact__right {
        width: 100%;
        margin-bottom: 0;
    }
    .slick-dots {
        bottom: -30px;
    }
    .slick-dots li {
        background: #db262d;
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }
    .slick-dots li button {
        display: none;
    }
    .slick-dots li button::before {
        display: none;
    }
    .slick-dots li.slick-active {
        background: rgba(219, 38, 45, 0.65);
    }
    #footer .footer__pralax .call__title h2 {
        font-size: 35px;
        letter-spacing: 5px;
    }
    /*================== PAGE ABOUT =====================*/
    #page-about {
        margin-top: 50px;
    }
    /*============= PAGE MENU ==================*/
    #page-menu .list__tab--menu ul li {
        width: 49%;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item {
        margin-bottom: 40px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--title {
        width: 78%;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price {
        width: 11%;
    }
    #page-menu .note__menu .note__menu--2 {
        width: 100%;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a.cart_desktop {
        display: none;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a.cart_mobile {
        display: block;
        width: 54px;
        height: 54px;
        position: relative;
        max-height: 54px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a.cart_destop:after,
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a.cart_desktop:before {
        display: none;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a.cart_mobile:before {
        content: '';
        width: 48px;
        height: 48px;
        top: 3px;
        left: 3px;
        background: url(../images/order-now.jpg) no-repeat;
        background-size: 100% 100%;
        position: absolute;
    }
    #page-menu .note__menu .note__menu--2 p {
        font-size: 16px;
    }
    /*=========== PAGE GALLERY =================*/
    #page-gallery {
        margin: 60px 0 60px;
    }
}

@media only screen and (max-width: 414px) {
    /*=============== HEADER ================*/
    #header-page .sticky .header__page .header__page--main .navbar-collapse ul li {
        text-align: left;
        margin-left: 15px;
    }
    #header-page .sticky .header__page .header__page--main .navbar-sticky ul li:nth-child(3) {
        margin-left: 15px;
    }
    #header-page .banner-slide {
        margin-top: 70px;
    }
    #header-page .banner-slide .flexslider .img-slide img.desktop {
        display: none;
    }
    #header-page .banner-slide .flexslider .img-slide img.mobile {
        display: block;
    }
    #header-page .banner-slide .flexslider .text-slide {
        width: 90%;
    }
    /*============ PAGE HOME */
    #page-home .about_phoreal .wrap__about .wrap_about--right h2 {
        font-size: 40px;
        margin-bottom: 25px;
        padding-bottom: 20px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--right p {
        font-size: 18px;
    }
    #page-home .about_phoreal .wrap__about .wrap_about--right .homemade h4 {
        font-size: 30px;
    }
    #page-home .slide_phoreal {
        margin: 55px 15px 0;
    }
    #page-home .slide_phoreal .wrap__slide .wrap__slide--left {
        padding-right: 0;
    }
    #page-home .contact_phoreal .wrap__contact .contact__left .contact__left--info .left__info--social ul {
        margin-top: 15px;
    }
    #page-home .call_phoreal .call__title h2 {
        letter-spacing: 0px;
        font-size: 30px;
    }
    /*============ PAGE MENU ==============*/
    #page-menu .list__tab--content {
        margin-top: 40px;
    }
    #page-menu .list__tab--content .tab-pane .tab__cate .tab__cate--title h4 {
        font-size: 35px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a {
        font-size: 16px;
        max-height: 40px;
        padding: 8px 20px;
    }
    #page-menu .list__tab--menu ul li a {
        font-size: 16px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item {
        margin-bottom: 10px;
    }
    #page-menu .list__tab--menu ul li a.active p {
        font-size: 16px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--order h4,
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--title .name__price .name h4,
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--title .name__price .price p {
        font-size: 18px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--title p {
        font-size: 16px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--title {
        width: 75%;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price {
        width: 13%;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a.cart_mobile {
        display: block;
        width: 48px;
        height: 48px;
        position: relative;
        max-height: 50px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a.cart_mobile:before {
        content: '';
        width: 42px;
        height: 42px;
        top: 3px;
        left: 3px;
    }
    /*============== PAGE CONTACT ======================*/
    #page-contact {
        margin: 70px 0 60px;
    }
    #page-contact .main_contact .wrap__contact .contact__left .contact__left--title h3 {
        font-size: 42px;
    }
    #page-contact .main_contact .wrap__contact .contact__left .contact__left--top p,
    #page-contact .main_contact .wrap__contact .contact__left .contact__left--mid p,
    #page-contact .main_contact .wrap__contact .contact__left .contact__left--bottom p {
        font-size: 18px;
    }
    #page-contact .main_contact .wrap__contact .contact__left .contact__left--top a {
        font-size: 18px;
    }
    /*========= Footer ============*/
    #footer {
        margin-top: 50px;
    }
    #footer .footer__pralax {
        margin-top: 0;
    }
    #footer .footer__pralax .call__title {
        padding: 55px 0;
    }
    #footer .footer__pralax .call__title h2 {
        font-size: 28px;
        letter-spacing: 1px;
    }
    #footer .footer__create {
        padding: 30px 15px;
    }
}

@media only screen and (max-width: 375px) {
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a.cart_mobile {
        display: block;
        width: 45px;
        height: 45px;
        position: relative;
        max-height: 50px;
    }
    #page-menu .list__tab--content .tab-pane .tab__product .tab__product--item .product__item--price a.cart_mobile:before {
        content: '';
        width: 39px;
        height: 39px;
        top: 3px;
        left: 3px;
    }
}

@media only screen and (max-width: 320px) {}